:root {
 --blue-color: #0075ff;
 --blue-alt-color: #0d69d5;
 --orange-color: #f59e0b;
 --red-color: #f44336;
 --gray-color: #888;
}
/* Start Box */
.d-flex {
 display: flex;
}
.d-grid {
 display: grid;
}
@media(max-width: 767px){
 .block-mobile {
  display: block;
 }
}
.gap-20 {
 gap: 20px;
}
.align-center{
 align-items: center;
}
.w-full{
 width: 100%;
}
/* End Box */

/* Start Padding + Margin */
.p-10 {
 padding: 10px;
}
.p-20 {
 padding: 20px;
}
.m-20 {
 margin: 20px;
}
.mt-0 {
 margin-top: 0;
}
.rad-6 {
 border-radius: 6px;
}
.rad-10 {
 border-radius: 10px;
}
/* End Padding + Margin */

/* Start Color */
.bg-white {
 background-color: white;
}
.c-black {
 color: black;
}
/* End Color */

/* Start Position */
.p-relative {
 position: relative;
}
/* End Position */

/* Start Font */
.txt-c {
 text-align: center;
}
@media(max-width: 767px){
 .txt-c-mobile {
  text-align: center;
 }
}
.fs-14 {
 font-size: 14px;
}
/* End Font */

/* Start Component */
.between-flex {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
/* End Component */